body,dl,dd,p,blockquote,ul,ol,pre,form,h1,h2,h3,h4,h5,h6{margin:0;}
ul,ol,th,td{padding:0;}
table{border-collapse:collapse;}
strong,b{font-weight:normal;}i,em,cite{font-style:normal;}
ul{list-style:none;}

body{font:1em/1.6em "微软雅黑";}

a{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:none;}

/** 清除浮动 **/
.clear{clear:both;}
.clearfix:after { content: ""; display: block;font-size:0;line-height:0; height: 0; clear: both; visibility: hidden;}
.clearfix {*zoom:1;}

/** **/
.main-box{margin:0 10%;width:65%;padding-left:15%}
.section-box{margin:0 auto;text-align:center;}


.slide-box{position:fixed;left:10%;top:0;bottom:0;border-right:3px solid #999;width:14%;text-align:right;padding:5% 0;}

/** main-nav **/
#main-nav{position:relative;}
.main-nav-list{padding-right:5%;}
.main-nav-list li{padding-right:20px;}
.nav-pointer{position:absolute;width:8px;height:8px;background:#fff;transform: rotate(45deg);right:-7px;top:7px;border-bottom:3px solid #999;border-left:3px solid #999;}